.filter-container {
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 5px #e5e5e5;
  border-radius: 3px;
  z-index: 5;

  .filter-header {
    background-color: white;
    color: white;

    cursor: pointer;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin: 0;
      text-align: center;
      margin-bottom: 8px;
      margin-left: 15px;
      padding-top: 8px;
      font-size: 16px;
      color: black;
      font-weight: 600;
    }

    svg {
      color: gray;
      margin-right: 10px;
    }
  }

  .filter-body {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .f-active {
    ul {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 235px;

      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 10px;
      }
    }
    height: auto;

    transition: 0.3s;
  }

  ul {
    padding: 0;
    margin: 0;
    padding: 5px 0;
    padding-bottom: 8px;
    padding-top: 0;
    list-style-type: none;
  }

  label {
    // width: 100%;
    display: inline-block;
    padding: 2px 17px;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      margin-left: 5px;
      margin-bottom: 3px;
    }
  }

  @media (max-width: 480px) {
    width: 80%;
    margin: auto;
    box-shadow: none;
    margin-bottom: 10px;

    .filter-header {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    display: none;
  }
}
