.navbar {
  // background: linear-gradient(to right, #368fe9, #18293c, #f159e5 95%);
  // background: linear-gradient(to right, #18293c, #368fe9, #f159e5 95%);
  background: linear-gradient(to right, #18293c, #f159e5 95%);
  position: fixed;
  width: 100%;
  box-shadow: rgb(6 22 33 / 20%) 0px 2px 6px;
  // box-shadow: #18293ce8 0px 2px 6px;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(50px);
}
.navbar-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding: 10px 0;
  top: 0;
  z-index: 99;
  max-width: 1125px;
  color: white; //
}
.navbar-left-side {
  span {
    cursor: pointer;
  }
  svg {
    color: white;
    margin-left: 20px;
    height: 25px;
    width: 25px;
    display: none;
  }

  @media (max-width: 480px) {
    span {
      display: none;
    }

    svg {
      display: block;
    }
  }
}
.navbar-center-side {
  text-align: center;
  cursor: pointer;
}
.navbar-right-side {
  display: flex;
  align-items: center;
  margin-left: auto;

  .navbar-search {
    display: flex;
    align-items: center;
    margin-right: 28px;
    cursor: pointer;

    &:hover > input {
      width: 150px;
    }

    input {
      line-height: 20px;
      padding: 0;
      border: 0;
      outline: none;
      border-bottom: 1px solid white;
      width: 0;
      transition: 0.4s;
      background: transparent;
      color: white;

      &::placeholder {
        color: white;
      }
    }

    input.active-search-line {
      width: 150px;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }

  .navbar-cart {
    margin-right: 28px;
  }

  .navbar-account {
    @media (max-width: 480px) {
      display: none;
    }
  }
}
